html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'futura-pt', 'Light Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.header-content, .footer{
    
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.header-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/Makeup-header.jpg);
    background-size: 100% 100%;
}

.footer {
    height: 70px;
    justify-content: center;
}

.logo-and-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

}

.logo {
    width: 200px;
    height: auto;
    margin: -20px;
}

.header-content {
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap: 10%;
}

.image-container, .content-left {
    max-width: 40%;
    min-width: 300px;

}

.image-container {
    filter: brightness(100%);
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.subtext {
    margin-bottom: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.information-title {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
    width: 100%;
    gap: 5%;
}

.info-container {
    display: flex;
    width: 220px;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.info-box {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quote-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 20%;
}

.quote {
    font-size: 36px;
    font-weight: 500;
    font-style: light italic;
    margin-bottom: 20px;
}

.author {
    text-align: right;
    font-weight: 700;
    font-size: 30px;
    width: 100%;
}

.action-area {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.action-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 10px;
    color:#F9FAF8;
    padding: 50px 100px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.action-title {
    font-size: 24px;
    font-weight: 900px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    gap: 32px;
}

button {

    background-color: white;
    font-weight: 700;
    padding: 6px 32px;
    border-style: none;
    border-width: 2px;
    border-color: black;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 24px;
}

#credit {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

