html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    box-sizing: border-box;

}

.logo-and-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Italiana';
    color: #ba835e;
}

.logo {
    width: 200px;
    height: auto;
    margin: -20px;
}

.header-content, .gallery-header-content, .teens-header-content, .about-header-content, .contact-header-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/Makeup-header.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    max-height: 600px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto';
    text-align: center;
    color: white;
}
.gallery-header-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/indonesia1.png);
}
.teens-header-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/indonesia1.png);
}
.about-header-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/indonesia1.png);
}
.contact-header-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/indonesia1.png);
}

.content-info {
    max-width: 40%;
    min-width: 300px;
}

.title, #link-title {
    font-size: 48px;
    margin: 20px;
    text-align: center;  
    font-family: 'Italiana';
}

#link-title {
    font-size: 72px;
}

.subtext {
    margin-bottom: 8px;
    font-size: 18px;
}

.quote-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 20%;
    text-align: center;
}

.quote-mark {
    color: #1F2937;
    font-size: 60px;
    font-weight: 300;
    opacity: 0.3;
    width: 100%;
}

.quote {
    font-size: 36px;
    font-weight: 500;
    font-style: light italic;
    margin-bottom: 50px;
}

.author {
    font-weight: 700;
    font-size: 30px;
    width: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.information-title {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    font-family: 'Italiana';
}

.info-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 5%;
}

.info-container {
    color: #ba835e;
    display: flex;
    width: 220px;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
}

.photo-container {
    color: #ba835e;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    text-align: center;
    width: 40%;
}

.info-box {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

.photo-box {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}

.action-area {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.action-container {
    display: flex;
    justify-content: space-around;
    background-color: #E5E7EB;
    color:#1F2937;
    padding: 10% 100px;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.action-title {
    font-size: 24px;
    font-weight: 900px;
}

.footer {
    height: 70px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
}

.btn:hover {
    background-color: black;
    color: white;
}

li:hover {
    color: black;
}

#credit {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 0%;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background-color: white;
    font-weight: 700;
    padding: 6px 32px;
    border: 2px solid black;
    font-family: 'Italiana';
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 24px;
}



